//
   Created by Mesogene on 7/28/16.

extends ../includes/layout

block content
    .container
        .row
            form.form-horizontal(method="post", action="/admin/tcm/new", enctype="multipart/form-data")
                .form-group
                    label.col-sm-2.control-label(for="inputCategory") 文章分类
                    .col-sm-10
                        input#inputCategory.form-control(type="text", name="tcm[categoryName]", value=tcm.categoryName)
                .form-group
                    label.col-sm-2.control-label 分类选择
                    each cat in categories
                        label.radio-inline
                            if tcm.category
                                input(type="radio", name="tcm[category]", value=cat._id, checked=cat._id.toString() == tcm.category.toString())
                            else
                                input(type="radio", name="tcm[category]", value=cat._id)
                                #{cat.name}
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 文章标题
                    .col-sm-10
                        input#inputTitle.form-control(type="text", name="tcm[title]", value=tcm.title)
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 作者
                    .col-sm-10
                        input#inputAuthor.form-control(type="text", name="tcm[author]", value=tcm.author)
                .form-group
                    label.col-sm-2.control-label(for="inputPoster") 图片地址
                    .col-sm-10
                        input#inputPoster.form-control(type="text", name="tcm[poster]", value=tcm.poster)
                .form-group
                    label.col-sm-2.control-label(for="uploadPoster") 图片上传
                    .col-sm-10
                        input#uploadPoster(type="file", name="uploadPoster")
                .form-group
                    label.col-sm-2.control-label(for="inputYear") 发布时间
                    .col-sm-10
                        input#inputYear.form-control(type="text", name="tcm[year]", value=tcm.year)
                .form-group
                    label.col-sm-2.control-label(for="inputSummary") 文章简介
                    .col-sm-10
                        textarea#inputSummary.form-control(type="text", name="tcm[summary]")= tcm.summary
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-default(type="submit") 录入
    script(src='/build/admin.min.js')