extends ../layout

block content
    .container
        .row
           form.form-horizontal(method="post", action="/admin/control/new")
               input(type="hidden", name="tcm[_id]", value="#{tcm._id}")
               .form-group
                  label.col-sm-2.control-label(for="inputTitle") 文章标题
                  .col-sm-10
                     input#inputTitle.form-control(type="text",name="tcm[title]" value="#{tcm.title}")
               .form-group
                  label.col-sm-2.control-label(for="inputAuthor") 文章作者
                  .col-sm-10
                     input#inputAuthor.form-control(type="text",name="tcm[author]" value="#{tcm.author}")
               .form-group
                  label.col-sm-2.control-label(for="inputYear") 发布时间
                  .col-sm-10
                      input#inputYear.form-control(type="text",name="tcm[year]" value="#{tcm.year}")
               .form-group
                   label.col-sm-2.control-label(for="inputSummary") 简介
                   .col-sm-10
                      input#inputSummary.form-control(type="text",name="tcm[summary]" value="#{tcm.summary}")
               .col-sm-offset-2.col-sm-10
                    button.btn.btn-primary(type="submit") 提交


